<!DOCTYPE html>

<html>
<head>
    <title>Help - The Weather Application</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/weather.png">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <br />
        <br />
        <p>{{help}}</p>
    </div>
    
    {{>footer}}

</body>

</html>